footer {
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 13rem;
    background: var(--bg-green);
}

footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #000000;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
}

footer h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1;
    background: linear-gradient(155deg, #000, #00ae5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer a {
    font-size: 1.4rem;
    color: var(--secondary-color);
    font-weight: 700;

    text-decoration: none;

    transition: all 200ms ease-in-out;
}

footer a:hover {
    color: var(--primary-color);
}

@media (min-width: 1080px)  {
    footer#footer {
        padding-bottom: 3rem;
    }

    footer h2 {
        font-size: 1.2rem;
        text-align: center;
        width: 70%;
    }
}