.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: white;
    padding-block: 3rem;
    padding-inline: 2rem;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    position: relative;
    transform: translateY(-30px);
    transition: transform 0.3s ease;
}

.modal header h2 {
    font-size: 2rem;
}

.modal header {
    margin-bottom: 3rem;
}

.modal-overlay.active .modal {
    transform: translateY(0);
}

.close-modal {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 100%;
}

.modal form label {
    color: var(--secondary-color);
    font-size: 1.4rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.modal form input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;

    border: 1px solid #00000035;
    border-radius: 1rem;
}

.modal form input::placeholder {
    opacity: .6;
}

.modal form input:focus {
    border: 1px solid #0d8400;
    outline: none;
}

.modal form button {
    margin-top: 3rem;
}

@media (min-width: 1080px) {
    .modal {
        width: 35%;
        padding-block: 4rem;
        padding-inline: 5rem;
    }

    .modal header h2 {
        font-size: 3rem;
    }

    .modal form button {
        width: 100%;
    }
}